@model TestVm
<form action="" method="post">
    <label for="name">
        <input type="text" asp-for="Name">
    </label>

    <label for="address">
        <input type="text" asp-for="Address">
    </label>


    <button type="submit">save</button>
</form>
